[Unit]
Description=Simple Flask based web server to manage Wake on LAN

[Service]
User=root
WorkingDirectory=path
ExecStart=python3 -m flask --app main run --host=hostname --port portNumber
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target