<!DOCTYPE html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>Tu usuario se ha registrado correctamente en la aplicación. Para acceder a tu cuenta, deberás emplear la contraseña:</p>
    <h4 style="font-weight: bold">$PASSWORD</h4>
    <p>Recuerda esta contraseña es de un solo uso y deberás cambiarla al iniciar sesión por primera vez. Si encuentras cualquier problema, puedes contactar con el administrador enviando un correo electrónico a: <a href='mailto:$ADMIN_MAIL'>$ADMIN_MAIL</a></p>
</body>

</html>