<!DOCTYPE html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>Un administrador ha reestablecido tus credenciales. Para acceder a tu cuenta, deberás emplear la contraseña:</p>
    <h4 style="font-weight: bold">$PASSWORD</h4>
    <p>Recuerda esta contraseña es de un solo uso y deberás cambiarla al iniciar sesión por primera vez. Si encuentras cualquier problema, puedes contactar con el administrador enviando un correo electrónico a: <a href='mailto:$ADMIN_EMAIL'>$ADMIN_EMAIL</a></p>
</body>

</html>