{% extends "layout.html" %} {% block container %}

<div class="d-flex justify-content-center align-items-center">
	<form action="/password" method="post">
		<div class="borderTable p-5 rounded-5 text-secondary shadow" style="width: 25rem">

			<div class="text-center fs-5 fw-bold">Antes de continuar, debes actualizar tu contraseña</div>
			<div class="input-group mt-4">
				<div class="input-group-text">
					<svg width="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
				</div>
				<input
					class="form-control bg-light"
					type="password"
					name="password"
					placeholder="Contraseña"
				/>
			</div>
			<div class="input-group mt-1">
				<div class="input-group-text">
					<svg width="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
				</div>
				<input
					class="form-control bg-light"
					type="password"
					name="confirmPassword"
					placeholder="Repite tu contraseña"
				/>
			</div>
			<div class="d-flex justify-content-around mt-1">
			</div>
			<input type="submit" class="btn text-white w-100 mt-4 fw-semibold shadow-sm" value="Actualizar contraseña"></input>
		</div>
	</form>
</div>
{% endblock %}



{% block user_info %}
{% endblock %}
