<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>

<body>

  <div class="container">
    <h4 class="text-center">Caronte</h4><br>
    <form method="POST" action="/">
      <div class="borderTable align-middle">
        <table id="equipos" class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Nombre descriptivo</th>
              <th>Dirección MAC</th>
              <th>Dirección IP</th>
            </tr>
          </thead>
          <tbody>
            {% for machine in machines: %}
            <tr id="row_{{ machines.index(machine) }}">
              <td>
                <input type="text" name="machine[{{ machines.index(machine) }}][name]" value="{{ machine['name'] }}">
              </td>
              <td>
                <input type="text" name="machine[{{ machines.index(machine) }}][mac]" value="{{ machine['mac'] }}">
              </td>
              <td>
                <input type="text" name="machine[{{ machines.index(machine) }}][ip]" value="{{ machine['ip'] }}">
              </td>
            </tr>
            {% endfor %}
            <tr id="add">
              <td>
              </td>
              <td>
                <input type="button" onclick="addMachine()" value="+">
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <a href="{{ url_for('index')}}">Inicio</a>
        <div style="display: flex; justify-content: center">
          <button type="submit">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function () {
    $('#equipos').DataTable({
      order: [[1, 'desc']],
      language: {
        lengthMenu: 'Elementos por página _MENU_ ',
        zeroRecords: 'No se encuentran resultados',
        info: 'Página _PAGE_ de _PAGES_',
        infoEmpty: 'No se encuentran resultados',
        infoFiltered: '',
        search: 'Buscar:',
        paginate: {
          next: ">",
          previous: "<"
        }
      },
    });
  });

  function addMachine() {
    console.log($('table > tbody > tr').length)
    $('#add').html(`
                    <td>
                      <input type="text" name="machine[${$('table > tbody > tr').length - 1}][name]">
                    </td>
                    <td>
                      <input type="text" name="machine[${$('table > tbody > tr').length - 1}][mac]">
                    </td>
                    <td>
                      <input type="text" name="machine[${$('table > tbody > tr').length - 1}][ip]">
                    </td>
                  `);
    $('tr#add').attr('id', `row_${$('table > tbody > tr').length - 1}`);
    $('table > tbody').append(`
                                <tr id="add">
                                  <td>
                                  </td>
                                  <td>
                                    <input type="button" onclick="addMachine()" value="+">
                                  </td>
                                  <td>
                                  </td>
                                </tr>
                            `);
  }
</script>