<!DOCTYPE html>

<html color-scheme="">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}"
      type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script>
      let root = document.querySelector(':root')
      let theme = localStorage.getItem('wol.theme') || 'light';
      root.setAttribute('color-scheme', `${theme}`);
    </script>
    <title>{{ TITLE }}</title>
    {% endblock %}
  </head>

  <body>
    <button class="theme" role="switch" aria-label="Cambiar tema"></button>
    <div class="container" style="position: relative;">
    <div id="logoCaronte" ></div>
      {% if isAdmin %}
        {% block admin_menu %}
          <a id="linkIndex" href="{{ url_for('views.index')}}">Inicio</a>
          <a id="linkMachines" href="{{ url_for('views.machines')}}">Máquinas</a>
          <a id="linkUsers" href="{{ url_for('views.users')}}">Usuarios</a>
          <br><br>
        {% endblock %}
      {% endif %}
      {% block container %}
          {% block table_content %}
          {% endblock %}
      {% endblock %}

      {% block user_info %}
        <a class="logoutLink" href="/logout">Cerrar Sesión</a> 
      {% endblock %}
    </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  
  

  </body>
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
  <script src="{{ url_for('static', filename='js/theme.js')}}" type="module"></script>
  {% endblock %}

</html>