{% extends "layout.html" %}
{% block faviconType %}https://www.etsit.upm.es/fileadmin/template/images/favicon.ico{% endblock %}

{% block container %}
<h3>Máquinas del usuario {{ user_email }}</h3>
<div class="borderTable align-middle">
    {% if machines: %}
    <table id="equipos" class="table table-striped table-dark table-hover" style="width:100%">
      <thead>
        <tr>
          <th>Máquina</th>
          <th class="text-center">&nbsp;&nbsp;&nbsp;Pertenencia</th>
        </tr>
      </thead>
      <tbody>
        {% for machine in machines: %}
        <tr id="{{ machine['id'] }}">
          <td>{{ machine['name'] }}</td>
          <td class="text-center">
            <div class="form-check form-switch d-flex justify-content-center">
              <input class="form-check-input isOwned" type="checkbox" class="isOwned" {{"checked" if machine['id'] in owned_machines else ""}} onclick="editOwner($(this), {{ 1 if machine['id'] in owned_machines else 0 }})" >
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else: %}
      <h4>No hay ninguna máquina en la base de datos, puedes añadirlas desde <a href="{{ url_for('views.machines') }}">aquí</a></h4>
    {% endif %}
  </div>
{% endblock %}

{% block user_info %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ownerFunctions.js')}}"></script>
{% endblock %}